XMLModule/Week1P2.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="traveldiaries">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Carl">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="date" type="xs:date"/>
              <xs:element name="title" type="xs:string"/>
              <xs:element name="location" type="xs:string"/>
              <xs:element name="description" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Gerald">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="date" type="xs:date"/>
              <xs:element name="title" type="xs:string"/>
              <xs:element name="location" type="xs:string"/>
              <xs:element name="description" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Clara">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="date" type="xs:date"/>
              <xs:element name="title" type="xs:string"/>
              <xs:element name="location" type="xs:string"/>
              <xs:element name="description" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
